# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default formatting rules - 2 x spaces indent, linux-style newlines, UTF-8
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true


# Disable trimming trailing whitespaces for Markdown so that double space newlines work
[*.md]
trim_trailing_whitespace = false
