name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - name: Install pnpm
        shell: bash
        run: npm i -g pnpm@8
      - name: Turn on auto-install-peers
        shell: bash
        run: pnpm config set auto-install-peers true
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: Install dependencies
        run: pnpm i
      - name: Prettier check
        run: pnpm prettier
      - name: Lint the code
        run: pnpm lint
      - name: Run the test suite
        run: pnpm test
      - name: Build the code
        run: pnpm build
      - name: Release to npm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
      - name: Build the documentation
        run: pnpm run docs
      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
